# IDE and Text Editor Files
.vscode/
.vim/
.idea/
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
*.user
*.suo
*.cache/
.sass-cache/
.npm-debug.log
npm-debug.log
yarn-error.log
*.sublime-workspace
*.sublime-project
*.log
logs/
log.txt
*.log
*.log.*
*.tmproj
*.sublime-workspace
Thumbs.db
.DS_Store
Desktop.ini
.editorconfig
.sass-cache/
.cache/
.project
.classpath
.settings/
*.sublime-workspace
*.sublime-project
.sass-cache/
.npm/
bower_components/
node_modules/
jspm_packages/
typings/
.env
.env.local
.env.development.local
.env.test.local
.env.production.local

# packages and build dir
node_modules
build
